body{
    background-color: #0d0d0b;
    color: #f0ede6;
    font-family: "Poppins", sans-serif;
   
}

h1,h2,h3{
    font-family: "Fraunces", serif;
}

section{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
