body{
    background-color: #0d0d0b;
    color: #f0ede6;
    font-family: "Poppins", sans-serif;
   
}

h1,h2,h3{
    font-family: "Fraunces", serif;
}

section{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

nav ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 12px 24px;
}

