body{
    background-color: #0d0d0b;
    color: #f0ede6;
    font-family: "Poppins", sans-serif;
   
}

h1,h2,h3{
    font-family: "Fraunces", serif;
}

section{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

/*=== DRY ===*/
.etiqueta{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #555350;
}

.container-tags{
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.tag{
    border: 1px solid #272723;
    padding: 4px 12px;
    font-size: 12px;
}


/* === NAV === */
nav ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 12px 24px;
}

/* === HERO === */
.boton-principal{
    background-color: #c94f3d;
    color: #0d0d0b;
    padding: 12px 28px;
    text-decoration: none;
    display:inline-block;
    margin-top: 8px;
}

/* TODO: border-bottom secundario en el pulido */
.boton-secundario{
    color: #8a877f;
    text-decoration: none;
}

.boton-principal:hover{
    background-color: #d96050;
}

.boton-secundario:hover{
    color: #f0ede6 ;
}

.hero-acciones{
    display: flex;
    align-items:baseline;
    gap: 18px;
}

.hero-etiqueta{
    color: #c94f3d;
    font-size: 14px;  
}
/* === ABOUT ME === */
.sobre-columnas{
    display: flex;
    gap: 40px;
}

.sobre-texto, .sobre-datos{
    flex:1;
}


.sobre-datos dd{
    margin: 4px 0 32px;
}

/* === PROYECTOS ==== */
.proyecto {
    border: 1px solid #272723;
    padding: 32px;  
    background-color: #141412;
    margin-bottom: 24px;
}


 /* === CONTACTO === */
.contacto{
    display: flex;
    gap: 40px;
}

.contacto-texto, .contacto-datos{
    flex: 1;
}

.contacto-datos dd{
    margin: 4px 0 32px;
}

.contacto-datos a {
    text-decoration: none;
    color: #f0ede6;
}

.contacto-datos a:hover{
    color:  #d96050;
}

/* === FOOTER === */
footer{
    border-top: 1px solid #272723;  
    font-size: 13px;
    color: #555350;
    padding: 16px 12px;
}